.git
.dockerignore
.gitignore
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.log*
Dockerfile*
dist/
build/
htmlcov/
coverage/
specs/
tests/
README.md
app/static/uploads
archive
